/*body {
    background-color: brown;
    color:aquamarine ;
}

table {
    background-color: black;
    color: aqua;
    
}

div {
    background-color: blue;
    padding: 15px;
    margin: 15px;
    margin-left: 30px;
    margin-right: 30px;
}
p {
    background-color: blueviolet;
}
    */
    table {
    width: 80%;
    border-collapse: collapse;
    border: 2px solid black;
    border-spacing: 10px;
}

table, th, td {
    border: 2px solid black;
    padding: 15px;
}

th {
    text-align: center;
    background-color: orange;
}

tr:nth-child(even) {
    background-color: dodgerblue;
}
tfoot {
    border: none;
    text-decoration: none;
}
tr:hover {
    background-color: #eee;
}
h1:hover { 
background-color: rgb(46, 168, 21);

}
