.chapter-menu {
    background-color: #0e5ba8;
    padding: 10px;
    display: flex;
    gap: 15px;
}

.chapter-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
}

.chapter-menu a:hover {
    background-color: #08427a;
}

* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
td, th {
    border: medium solid #999; 
    text-align: left;
    padding: 10px;
}

thead th {
    background-color: rgb(9, 56, 126);
    color: white;

}

.table-auto {
    width: 50%;
    table-layout: auto; 
    border: medium solid #999;   
}

.table-fixed {
    width: 50%;
    table-layout: fixed; 
    border: medium solid #999; 
}